{% extends "base.html" %}
{% block title %}團隊介紹{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/images/H.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">黃凱筠</h5>
          <p class="card-text text-center">
            ．國立臺北教育大學
            <br>
            ．個性又活潑又外向
            <br>
            ．沒什麼才能可展示
        </p>
      </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/images/SS.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">鄭晉如</h5>
        <p class="card-text text-center">
          ．國立臺北教育大學
          <br>
          ．個性不活潑不外向
          <br>
          ．喜歡認識有趣的人
        </p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/images/p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">洪珮慈</h5>
        <p class="card-text text-center">
          ．國立臺北教育大學　
          <br>
          ．能坐不站，能躺不坐
          <br>
          ．會一點點韓文
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
